.bout1{
    border: 1px solid palevioletred;
    width: 140px;
    color: palevioletred;
}

.bout1:hover{
    background-color: #d87093c4;
    color: white;
    text-transform: uppercase;
}

.bout2{
    border: 1px solid palevioletred;
    background-color: #dd1e5e;
    width: 200px;
    height: 50px;
    color: white;
}

.bout2:hover{
    background-color: #fa256c;
    transition: .9s;
    color: beige;
    font-size: 15px;
    text-transform: uppercase;
}

.bgr1{
    background-image: url(./images/bg-section-top-desktop-2.svg);
}

.bgr2{
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
}

.bgr3{
    background-image: linear-gradient(to right, #dce4ee, #77bedf, #91a6dd, #4a3e8d);
}

/* .textes{
    margin-top: 100px;
} */


.footer-box .fa-square-facebook{
    margin-right: 8px;
    font-size: 35px;
    padding: 10px;
    /* background-color: white; */
    color: #0e40e4;
}
.footer-box .fa-square-instagram{
    margin-right: 8px;
    font-size: 35px;
    padding: 10px;
    /* background-color: white; */
    color: #e23c09;
}

.footer-box .fa-square-twitter{
    margin-right: 8px;
    font-size: 35px;
    padding: 10px;
    /* background-color: white; */
    color: #5479f3;
}

.formul {
    /* display: block; */
    width: 60%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;

    background-color: #e9dfdf;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bouton{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    color: white;
    background-color: #dd1e5e;
   
}
input:focus{
    outline: none;
}

.animation-class {
    animation: fadeIn 1s ease-in-out;
}
  